{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
<div align="center">
    <div class="card card-default p-3 w-50 mt-5">
    <h1>Genre</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ genre.nom }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user and app.user.roles[0]=="ROLE_ADMIN" %}
    <div class="d-flex justify-content-center align-items-center">
        <a style="width : 100px; height :38px;" class="btn btn-primary me-3 mt-2" href="{{ path('genre_edit', {'id': genre.id}) }}" role="button"><i class="fas fa-edit"></i> Edit</a>
        {{ include('genre/_delete_form.html.twig') }}
    </div>
    {% endif %}

    <a align="left" href="{{ path('genre_index') }}" class="fs-4 text-decoration-none"><i class="fas fa-angle-double-left"></i> Back to list</a>
    </div>
</div>
{% endblock %}
