{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
<div align="center">
    <div class="card card-default p-3 w-75 mt-5">
    <h1>Livre</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ livre.isbn }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Nombre de pages</th>
                <td>{{ livre.nombrePages }}</td>
            </tr>
            <tr>
                <th>Date de parution</th>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ livre.note }}/20</td>
            </tr>
            <tr>
                <th>Auteurs</th>
                <td>
                    <ul>
                        {% for auteur in livre.auteurs %}
                            <li>{{ auteur }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>
                    <ul>
                        {% for genre in livre.genres %}
                            <li>{{ genre }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

{% if app.user and app.user.roles[0]=="ROLE_ADMIN" %}
    <div class="d-flex justify-content-center align-items-center">
        <a style="width : 100px; height :38px;" class="btn btn-primary me-3 mt-2" href="{{ path('livre_edit', {'id': livre.id}) }}" role="button"><i class="fas fa-edit"></i> Edit</a>
        {{ include('livre/_delete_form.html.twig') }}
    </div>
{% endif %}

    <a align="left" href="{{ path('livre_index') }}" class="fs-4 text-decoration-none"><i class="fas fa-angle-double-left"></i> Back to list</a>

    </div>
</div>
{% endblock %}
