{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
<div align="center">
    <div class="card card-default p-3 w-75 mt-5">
    <h1>Auteur</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom et prenom</th>
                <td>{{ auteur.nomPrenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ auteur.sexe }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ auteur.nationalite }}</td>
            </tr>
            <tr>
                <th>Livres</th>
                <td>
                    <ul>
                        {% for livre in auteur.livres %}
                            <li>{{ livre }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

{% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
    <div class="d-flex justify-content-center align-items-center">
        <a style="width : 100px; height :38px;" class="btn btn-primary me-3 mt-2" href="{{ path('auteur_edit', {'id': auteur.id}) }}" role="button"><i class="fas fa-edit"></i> Edit</a>
        {{ include('auteur/_delete_form.html.twig') }}
    </div>
{% endif %}

    <a align="left" href="{{ path('auteur_index') }}" class="fs-4 text-decoration-none"><i class="fas fa-angle-double-left"></i> Back to list</a>
    </div>
</div>

{% endblock %}
